.figuresWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.color {
	color: white
}

@media (prefers-color-scheme: light) {
	.color {
		fill: black;
	}
}

@media (prefers-color-scheme: dark) {
	.color {
		fill: white;
	}
}