.footer {
	margin-top: 5rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.mail {
	font-weight: 300;
}