.toolboxWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;
}

.toolbox {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	font-family: 'Inconsolata', monospace;
	justify-content: center;
}

.tool {
	background-color: var(--color);
	border-radius: 5px;
	padding: 8px;
	margin: 5px;
	transition: transform 0.3s ease-in-out;
}

.tool:hover {
	/* Scales the element to 150% of its original size */
	transform: scale(1.1);
	/* Alternatively, use the newer 'scale' property: scale: 1.5; */
	cursor: pointer;
	/* Changes the cursor to a hand pointer */
}

.toolboxLegend {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

.legendItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	transition: transform 0.3s ease-in-out;
}

.legendItem:hover {
	/* Scales the element to 150% of its original size */
	transform: scale(1.1);
	/* Alternatively, use the newer 'scale' property: scale: 1.5; */
	cursor: pointer;
	/* Changes the cursor to a hand pointer */
}

.rectangle {
	background-color: var(--color);
	border-radius: 5px;
	padding: 8px;
	width: 35px;
	height: 1px;
	margin: 5px;
}

@media (max-width: 880px) {
	.toolbox {
		width: 95%;
	}
}