.toolboxWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

.selectedSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	transition: min-height 0.3s ease-out;
}

.toolbox {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	font-family: 'Inconsolata', monospace;
	justify-content: center;
	gap: 10px;
}

.tool {
	background-color: var(--color);
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
}

.divider {
	width: 50%;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	margin-top: 1rem;
}

.toolboxLegend {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
	margin-top: 0.5rem;
}

.legendItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	cursor: pointer;
}

.rectangle {
	background-color: var(--color);
	border-radius: 5px;
	width: 35px;
	height: 16px;
}

@media (max-width: 880px) {
	.toolbox {
		width: 95%;
	}
}