.toolboxWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

.selectedSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 0;
}

.selectedToolbox {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	font-family: 'Inconsolata', monospace;
	justify-content: center;
}

.toolbox {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	font-family: 'Inconsolata', monospace;
	justify-content: center;
}

.tool {
	background-color: var(--color);
	border-radius: 5px;
	padding: 8px;
	margin: 5px;
	cursor: pointer;
}

.divider {
	width: 50%;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	margin: 0.5rem 0;
}

.toolboxLegend {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}

.legendItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	cursor: pointer;
}

.rectangle {
	background-color: var(--color);
	border-radius: 5px;
	padding: 8px;
	width: 35px;
	height: 1px;
	margin: 5px;
}

@media (max-width: 880px) {

	.selectedToolbox,
	.toolbox {
		width: 95%;
	}
}